<launch>
<!-- Use "roslaunch ME134 run_robot.launch" to start the robot -->
  <!-- Define general parameters.  These can be overwritten by the
       roslaunch command line. -->
  <arg name="urdf"  default="ThrowerAssem.urdf"/>
  <arg name="model" default="$(find ME134)/urdf/$(arg urdf)"/>
  <arg name="cfg"   default="$(find ME134)/rviz/viewurdf.rviz" />


  <!-- Load the URDF file into the robot_description parameter. -->
  <!-- <param name="robot_description" textfile="$(arg model)"/> -->


  <!-- Start the HEBI node. -->
  <node pkg ="me134basic"
	type="hebi"
	name="hebi_thrower"
	output="screen"
	required="true">
    <rosparam>
      family: "Red"
      names: ["4", "5"]
    </rosparam>
  </node>

  <!-- Start the demo node. -->
  <node pkg ="ME134"
	type="thrower_test.py"
	name="demo_thrower"
	output="screen"
	required="true"/>
  
</launch>
